
html, body, .page, #mainDiv {
	height: 100%;
}

#carpe {
	overflow: hidden;
}
.dragover {
	background-color: lightsalmon !important;
}

.score {
	height: 1.5em;
}
.inbox {
	background-color: #ccccff;
	height: calc(100% - 2em);
}
.email {
	height: 12%;
	border: 1px solid #333;
	margin: 1px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(92,92,92,0.5);
}
.DayBox {
	height: 100%;
	border: 1px solid #999;
	.DropZone {
		border: none;
		width: 100%;
		height: 100%;
	}
}
.calendar {
	background-color: yellow;
	height: calc(100% - 2em);
}